.card{

   @media screen and (max-width:1024px) {
      width: 327px;
      min-height: 535px;
      display: block;
   }
   width: 920px;
   min-height: 509px; 
   background: $white1;
   border-radius: 23px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
   
   box-shadow: 0 50px 50px -20px #35127a7a;
   #svg2{
      @media screen and (max-width:1024px) {
        display: none;
      }
      position: absolute;
      z-index: 5;
      left: -87px;
      top:200px ;
      
      }

   .left-part{
      @media screen and (max-width:1024px) {
         overflow: visible;
      }
      position: relative;
      overflow: hidden;
      &::before{
         @media screen and (max-width:1024px) {
            background: url(../images/bg-pattern-mobile.svg);
            background-repeat: no-repeat;
            width: 240px;
            height: 145px;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
         }
         position: absolute;
         content: "";
         background: url(../images/bg-pattern-desktop.svg);
         background-repeat: no-repeat;
         right: 74px;
         top: -294px;
         width: 964px;
         height: 944px;
      }

      .img-content{
         
         #svg1{
            @media screen and (max-width:1024px) {
               width: 237px;
               height: 180px;
               top: -108px;
               left: 50%;
               transform: translateX(-50%);
            }
            position: absolute;
            right: 74px;
            top: 71px;
         }
      }
   }

   .right-part{
      @media screen and (max-width:1024px) {
         padding: 132px 24px 0;
      }
      padding: 65px 95px 65px 13px;

      h1{
         @media screen and (max-width:1024px) {
           text-align: center;
         }
         margin-bottom: 43px;
      }

      .faq-container{

         margin-bottom: 16px;
         padding-bottom: 16px;
         transition: 0.4s;
         position: relative;
        
         &::after{
            position: absolute;
            content: "";
            background: $color4;
            height: 1px;
            width: 100%;
            bottom: 0;

         }

         .header-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3{
               cursor: pointer;
               &:hover{
                  color: $color5;
               }
            }
            i{
               color: $color5;
               transition: 0.4s ease;
            }
         }
         p{
            position: relative;
            top: -20px;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: 0.4s ease-out;
            margin-top: 11px;
         }


         &.active {
            i{
               transform: rotate(180deg);
            }     
            p{
               height: auto;
               opacity: 1;
               top: 0;

            }
            h3{
               font-weight: bold;
            }
         }
      }
      
   }
}

